@import "./charts/ageGroupsChart.css";
@import "./charts/lineChart.css";
@import "./charts/mapChart.css";
@import "./charts/rankingChart.css";
@import "./charts/barCharts.css";

:root {
  font-family: "Roboto", sans-serif;

  /*Light theme colors*/
  --button-color: #3cbbe1;
  --background-color: white;
  --map-color-first: #dbedf3;
  --map-color-second: #00818a;
  --text-color: black;
  --dots-color: #2c7fb8;
  --lines-color: #a6bddb;
  --link-color: #5c2a9d;
  --ageChartBar: #005d7d;
  --selectedAreaColor: #34626c;
}
.dark-theme {
  /*Dark theme collors*/
  --button-color: #3cbbe1;
  --background-color: #003545;
  --map-color-first: #dbedf3;
  --map-color-second: #00818a;
  --text-color: white;
  --dots-color: #ea907a;
  --lines-color: #fbc687;
  --link-color: #f6c90e;
  --ageChartBar: #29c7ac;
  --selectedAreaColor: #34626c;
}

body {
  background-color: var(--background-color);
  transition: background 0.7s, color 0.7s;
  color: var(--text-color) !important;
  overflow: hidden;
  margin-top: 6px;
}

.container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(18, 0.5fr) 0.55fr 0.1fr;
  grid-template-rows: repeat(20, 0.5fr);
  border-bottom: solid #d3d3d3 1px;
}

.loading {
  height: 100%;
  vertical-align: center;
}

.loading img {
  position: absolute;
  top: 45%;
  left: 50%;
}

/* Top bar */

.topBar {
  grid-column-start: 1;
  grid-column-end: 21;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: solid #d3d3d3 1px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.mainTitle {
  text-align: left;
  font-size: 35px;
  transition: color 0.7s;
  color: var(--text-color) !important;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  flex-shrink: 1;
}

.switch {
  position: relative;
  margin-left: auto;
  float: right;
  width: 60px;
  height: 30px;
  margin-right: 5px;
  flex-shrink: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #17b794;
}

input:focus + .slider {
  box-shadow: 0 0 1px #17b794;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Smaller screen size config */
@media only screen and (max-width: 1700px) {
  body {
    font-size: 14px;
  }

  .mainTitle {
    margin-right: 5px;
    margin-left: 5px;
  }

  .x-axis text,
  .y-axis text {
    font-size: 18px !important;
  }

  #mapLegend text {
    font-size: 16px;
  }

  #mapText {
    font-size: 19px;
    margin-top: 40px;
  }

  #mapText strong {
    font-size: 21px;
  }

  .lineChart {
    padding: 0px 20px 20px 0px !important;
  }

  .lineChartTitle,
  .rankingChartTitle,
  .barGroupTitle,
  .ageChartTitle {
    font-size: 16px !important;
    font-weight: 500 !important;
  }

  .ageGroupsChart .y-axis text {
    font-size: 15px !important;
  }

  .ageGroupsChart .label {
    font-size: 12px !important;
  }

  .rankingChart .y-axis text {
    font-size: 13px !important;
  }

  .lineChart .y-axis text,
  .lineChart .x-axis text {
    font-size: 15px !important;
  }

  .dropdown {
    padding-bottom: 20px;
  }

  .data-source {
    font-size: 13px;
  }
}

/* Mobile setup*/
@media only screen and (max-width: 1025px) {
  .container {
    display: flex !important;
    flex-direction: column;
    overflow: scroll;
    border-bottom: none;
  }

  .topBar {
    align-items: start;
    flex-direction: column-reverse;
  }

  .mainTitle {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
  }

  .dropdown {
    align-items: center;
  }

  .data-source {
    display: none;
  }

  .mapChart {
    border-right: none;
  }

  .legendContainer {
    width: 80%;
    padding: 0;
  }

  .lineChart {
    border-top: solid #d3d3d3 1px;
    padding: 10px 0px 10px 0px !important;
  }

  .ageGroupsChart {
    flex-shrink: 0;
    padding: 0px 0px 20px 0px !important;
  }

  .ageChartTitle {
    padding: 0px 6px;
  }

  .barGroupTitle {
    padding-top: 10px;
    flex-shrink: 0;
  }

  .barChartsGroup {
    margin-top: 10px;
  }

  .genderBarChart {
    padding: 20px 20px 0px 20px;
  }

  .payBarChart {
    padding: 20px 20px 0px 20px;
  }

  .rankingChart {
    padding: 10px !important;
    border-left: none;
    border-top: solid #d3d3d3 1px;
  }

  .rankingChart svg {
    overflow: visible;
  }
}
